.catalog_button {
    -fx-background-color: #afa696;
    -fx-text-fill: #FE346B;
    -fx-font-size: 1.1em;
    -fx-pref-height: 30;
    -fx-alignment: center;
}

.catalog_button:hover {
    -fx-cursor: hand;
}

.body_color {
    -fx-background-color: #dfd6c5;
}

.transparent {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-box {
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-box :vertical,
.scroll-box :horizontal {
    -fx-background-color: transparent;
}

.scroll-box :horizontal .track,
.scroll-box :vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background: transparent;
    -fx-background-radius: 0em;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.scroll-box :horizontal .thumb,
.scroll-box :vertical .thumb {
    -fx-background-color: #afa696;
    -fx-background-radius: 5em;
}

.scroll-box > .corner {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
