.menu_button {
    -fx-background-color: #afa696;
    -fx-text-fill: #FE346B;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-pref-width: 200;
}

.search_bar {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-pref-height: 40;
    -fx-pref-width: 500;
}