.menu_button {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-pref-width: 200;
}

.search_outline {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;;
}

.search_bar {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-pref-height: 40;
    -fx-pref-width: 500;
}

.search_pane {
    -fx-alignment: center;
    -fx-padding: 0 70 0 70;
}

.left_icon {
    -fx-spacing: 1.8em;
    -fx-alignment: center;
}

.right_icon {
    -fx-spacing: 1.8em;
    -fx-alignment: center;
}
